//-----------------------
//frame的容器样式输出
//-----------------------

$space-frame: 0.5rem;

.frame {
    background-color: white;
    margin: $space-frame;
    padding: $space-frame;
    border-radius: $Border-radius-normal;
    box-shadow: $box-shadow-normal;
    transition: $transition-normal;
    .frame-header {
        //display: flex;
        //align-items: center;
        //justify-content: flex-start;
        //flex-wrap: nowrap;
        //border-bottom: 1px solid $c-smt-border;
        //padding-bottom: .21428571rem;;
    }
}
