//-----------------------
//  变量
//-----------------------

//字体
//-----------------------
$baseFontFamily: "黑体";

//字体-大小-----------------------
$fs-h1: 32px;   //大标题，多用于正文标题
$fs-h2: 28px;   //大标题，多用于正文标题
$fs-h3: 24px;   //大标题，多用于正文标题
$fs-h4: 24px;   //大标题，多用于正文标题
$fs-p1: 20px;    //主内容，多用正文，大多数文字
$fs-p2: 18px;    //主内容，多用正文，大多数文字
$fs-p3: 16px;    //主内容，多用正文，大多数文字
$fs-p4: 14px;    //主内容，多用正文，大多数文字
$fs-p5: 12px;    //主内容，多用正文，大多数文字
$FontSize:(
        h1:  $fs-h1,
        h2:  $fs-h2,
        h3:  $fs-h3,
        h4:  $fs-h4,
        p1:  $fs-p1,
        p2:  $fs-p2,
        p3:  $fs-p3,
        p4:  $fs-p4,
        p5:  $fs-p5
);

//字体-行高-----------------------
$lh-h1: 24px;
$lh-h2: 20px;
$lh-p1: 14px;
$lh-p2: 16px;
$LineHeight:(
        h1:  $lh-h1,
        h2:  $lh-h2,
        p1:  $lh-p1,
        p2:  $lh-p2
);

//色板-----------------------
$c-primary: #95a2ff;
$c-danger: #de432e;
$c-warning: #de8b3d;
$c-success: #07ab00;
$c-info:  #51a3ff;
$c-milka:  #f5f7f9;
$c-silkgray:  rgb(250, 253, 255);
$c-huiyuan:  #d7dde4;
$c-nightlight:  #5b6270;
$c-blood:  rgb(222, 67, 46);
$c-lemon:   rgb(222, 172, 18);
$c-darklemon:  rgb(170, 130, 50);
$c-darkTree:  rgb(60, 142, 40);
$c-grayEyes:  rgb(137, 122, 98);
$c-themeGray:  #e9eaec;

$Colors: (
        milka:  $c-milka,
        silkgray: $c-silkgray,
        huiyuan: $c-huiyuan,
        nightlight: $c-nightlight,
        info: $c-info,
        blood: $c-blood,
        lemon: $c-lemon,
        darklemon: $c-darklemon,
        drakTree: $c-darkTree,
        grayEyes: $c-grayEyes
);
//间距,尺寸-----------------------
$s-small: 0.5rem;
$s-middle: 1rem;
$s-big: 2rem;
$Spaces: (
           //间距
          small: $s-small,
          middle: $s-middle,
          big: $s-big
        );

//边线-----------------------
$b-box:1px solid $c-huiyuan;
$b-divider: 1px solid $c-themeGray;
$Borders: (
        box: $b-box
);


