//-----------------------
//  变量
//-----------------------

//字体
//-----------------------
$baseFontFamily: "黑体";


//字体-大小-----------------------
$fs-h1: 30px;
$fs-h2: 24px;
$fs-h3: 16px;
$fs-h4: 14px;
$fs-h5: 12px;
$fs-h6: 10px;
$fs-p1: 20px;    //主内容，多用正文，大多数文字
$fs-p2: 18px;    //主内容，多用正文，大多数文字
$fs-p3: 16px;    //主内容，多用正文，大多数文字
$fs-p4: 14px;    //主内容，多用正文，大多数文字
$fs-p5: 12px;    //主内容，多用正文，大多数文字
$FontSize:(
        h1:  $fs-h1,
        h2:  $fs-h2,
        h3:  $fs-h3,
        h4:  $fs-h4,
        h5:  $fs-h5,
        h6:  $fs-h6,
        p1:  $fs-p1,
        p2:  $fs-p2,
        p3:  $fs-p3,
        p4:  $fs-p4,
        p5:  $fs-p5
);

//字体-行高-----------------------
$lh-h1: 24px;
$lh-h2: 20px;
$lh-p1: 14px;
$lh-p2: 16px;
$LineHeight:(
        h1:  $lh-h1,
        h2:  $lh-h2,
        p1:  $lh-p1,
        p2:  $lh-p2
);


//字体-粗细-----------------------
$fw-bold: 600;
$FontWeight:(
        bold:  $fw-bold
);


//色板-----------------------
$c-knight:      #70599D;
$c-royal:       #6E70F7;
$c-heart:       #FF403B;
$c-cherry:       #FE1E6D;
$c-mango:      #FFC000;
$c-sapling:     #93D76E;

$c-killer:      #1f2738;
$c-ink:         #58647E;
$c-dream:       #B8C5D8;
$c-clean:       #deecff;
$c-milka:       #F8F9FD;
$c-muted:       #B5C0CB;

////色板-----------------------
//$c-smt-night: #1b1c1d;  //semantic
//$c-smt-border: rgba(34,36,38,.15);  //semantic
//
//$c-dreamlight: #95a2ff;
//$c-aoyi:  #51a3ff;
//$c-milka:  #f5f7f9;
//$c-silkgray:  rgb(250, 253, 255);
//$c-huiyuan:  #d7dde4;
//$c-nightlight: #3c3c3c;
//$c-blood:  #de432e;
//$c-lemon:  #de8b3d;
//$c-darklemon:  rgb(170, 130, 50);
//$c-tree: #07ab00;
//$c-darkTree:  rgb(60, 142, 40);
//$c-grayEyes:  rgb(137, 122, 98);
//$c-themeGray:  #e9eaec;

$Colors: (
       $c-knight :    $c-knight,
       $c-royal :     $c-royal,
       $c-heart :     $c-heart,
       $c-cherry :    $c-cherry,
       $c-mango:      $c-mango,
        $c-sapling :    $c-sapling,
       $c-killer  :   $c-killer,
       $c-ink :       $c-ink ,
       $c-dream :     $c-dream
);



//主題配置

$theme-color-main:       $c-knight;
$theme-color-bg:           $c-milka;
$theme-color-text:         $c-ink;
$theme-color-hr:            $c-muted;
$theme-color-primary:   $c-royal;
$theme-color-danger:    $c-heart;
$theme-color-warning:   $c-mango;
$theme-color-success:     $c-sapling;



//间距,尺寸-----------------------
$s-ss: 1px;
$s-xs:  5px;
$s-sm:  10px;
$s-nm:  15px;
$s-md:  20px;
$s-lg:  30px;
$s-xl:  40px;
$s-sl:  50px;
$Spaces: (
        ss: $s-ss,
        xs:  $s-xs,
        sm:  $s-sm,
        nm:  $s-nm,
        md:  $s-md,
        lg:  $s-lg,
        xl:  $s-xl,
        sl:  $s-sl
);


//边线-----------------------
$border-normal: 1px solid rgba(34,36,38,.15);



//圓角-----------------------
$border-radius-normal: .28571429rem;

//过渡---------------------------
$transition-normal: box-shadow .1s ease,-webkit-transform .1s ease;
$transition-slow: all 0.5s ease;

//阴影
$box-shadow-normal: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
$box-shadow-line: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;



